---
name: Run Tests
on: [push, pull_request, workflow_dispatch]
jobs:
  ci:
    strategy:
      matrix:
        node-version: [22, 24]
        os: [ubuntu-latest]
        kafka-version: ['3.5.0', '3.6.0', '3.7.0', '3.8.0', '3.9.0']
    runs-on: ${{matrix.os}}
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Use supported Node.js Version
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Restore cached dependencies
        uses: actions/cache@v3
        with:
          path: ~/.pnpm-store
          key: node-modules-${{ hashFiles('package.json') }}
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Start Kafka (${{ matrix.kafka-version }}) Cluster
        run: docker compose -f docker/compose-ci.yml up -d && pnpx wait-on tcp:9091 tcp:9092 tcp:9093 tcp:9094 tcp:9095 tcp:9096
        env:
          KAFKA_VERSION: ${{ matrix.kafka-version }}
      - name: Run Tests
        run: pnpm run ci
        env:
          KAFKA_VERSION: ${{ matrix.kafka-version }}
