---
name: Run Tests
on:
  push:
    branches:
      - main
      - v1.x
  pull_request:
  workflow_dispatch:
jobs:
  ci:
    strategy:
      matrix:
        # Using the latest LTS versions for CI
        node-version: [20, 22, 24]
        os: [ubuntu-latest]
        # Support for 3.6.0 is not available in CI since the Docker image has issues with option management in regard of SASL/OAUTHBEARER.
        kafka-version: ['3.5.0', '3.7.0', '3.8.0', '3.9.0', '4.0.0']
    runs-on: ${{matrix.os}}
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Use supported Node.js Version
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Restore cached dependencies
        uses: actions/cache@v3
        with:
          path: ~/.pnpm-store
          key: node-modules-${{ hashFiles('package.json') }}
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Start Kafka (${{ matrix.kafka-version }}) Cluster
        run: docker compose -f docker/compose-ci.yml up -d --wait
        env:
          KAFKA_VERSION: ${{ matrix.kafka-version }}
      - name: Run Tests
        run: |
          if [ "${{ matrix.node-version }}" = "20" ]; then
            pnpm run test:ci:v20
          else
            pnpm run ci
          fi
        env:
          KAFKA_VERSION: ${{ matrix.kafka-version }}
