---
name: Run Tests
on:
  push:
    branches:
      - main
      - v1.x
  pull_request:
  workflow_dispatch:
jobs:
  ci:
    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]
        confluent-kafka-version: [7.5.0, 7.6.0, 7.7.0, 7.8.0, 7.9.0, 8.0.0]
        include:
          - node-version: 20.x
            test-command: ci:v20
          - node-version: 22.x
            test-command: ci
          - node-version: 24.x
            test-command: ci
    name: 'Node.js ${{ matrix.node-version }} / Confluent Kafka ${{ matrix.confluent-kafka-version }}'
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Use supported Node.js Version
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Restore cached dependencies
        uses: actions/cache@v3
        with:
          path: ~/.pnpm-store
          key: node-modules-${{ hashFiles('package.json') }}
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Start Kafka (${{ matrix.confluent-kafka-version }}) Cluster
        run: docker compose up --build --force-recreate -d --wait
        env:
          KAFKA_VERSION: ${{ matrix.confluent-kafka-version }}
      - name: Run Tests
        run: 'pnpm run ${{ matrix.test-command }}'
